ion-item {
  max-width: 750px;
  width: auto;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 10px 10px 10px #00000080;
  margin-top: 60px;
  --background: rgba(0, 0, 0, 0);
}
